{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hello {{ data.0.name }}</h4>
      </div>
      <div class="modal-body">
        <div class="modal-carousel">
          {% if data is not empty %}
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              {% for key,result in data %}
              <li data-target="#myCarousel" data-slide-to="{{ key }}" class="{{ result.active }}"></li>
              {% endfor %}
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              {% for result in data %}
              <div class="item {{ result.active }}">
                <img src="{{ result.image }}" alt="movie" >
                <div class="carousel-caption">
                  <h3>{{ result.title|striptags }}</h3>
                  <p>{{ result.body|striptags }}</p>
                </div>
              </div>
              {% endfor %}   
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>